.contentBox {
  border-bottom: solid #b4b4b4 2px;
  padding: 5rem 7rem;

  &__headerInfo {
    &__logo {
      img {
        width: 160px;
      }
    }

    &__text {
      p {
        width: 620px;
        font-size: 20px;
        text-align: right;
        margin: 0 0 5px 0;

        .headerInfoPlaceholder {
          font-weight: bold;
        }
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
