.invoiceTitleFlexbox {
  padding: 2rem 7rem 4rem 7rem;
  font-size: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__billToJonSFlexbox {
    display: flex;

    &__billTo {
      p {
        margin: 0;
        font-weight: bold;
      }
    }

    &__jonSDetails {
      p {
        margin: 0 0 0 30px;
      }
    }
  }

  &__invoiceIdBox {
    p {
      margin: 0 0 12px 0;
      display: flex;

      .invoiceIdPlaceholder {
        font-weight: bold;
        text-align: right;
        margin-right: 70px;
        margin-left: auto;
      }
    }
  }
}
